.home-container {
    margin-top: 117px;
    margin-left: 120px;
}

.home-text {
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
    margin-bottom: 24px;
}

.body-text-config {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.line-spacement {
    margin-bottom: 25px;
}

.bottom-config {
    padding-top: 48px;
}