.btn-config {
    box-sizing: unset;
    width: 101px;
    height: 40px;
    left: 120px;
    top: 595px;
    background: #1890FF;
    border-radius: 4px;
    justify-content: center;
}

.text-content {
    margin-bottom: 0px;
    font-weight: 400;
}