.search2-base-form {
    width: 1251px;
    height: 387px;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border-radius: 8px;
}

.search-position {
    padding-left: 80px;
    padding-top: 54px;
}